{% extends "base.html" %}
<body>
    {%block content%}
    <section class="index_main">
        <section class="daterange">
            {% for date in date_range(selected_date) %}
            <section class="dates">
                <a class="dates__link {{'dates__link__current' if loop.index0==3 else ''}}"
                href="{{url_for('habits.index',date=date)}}">
                <time>
                <span >{{date.strftime("%d %a")}}</span>
                </time>
                </a>
            </section>
            {% endfor %}
        </section>
        <section class="recent_habits">
            <h2 class="recents">Habits:</h2>
            <ul>
                
                {% for habit in Habits %}
                    {% set completed = habit["_id"] in completions %}
                        <section class="recent_habits_title">
                            {% if completed %}
                            <section class="habits_title">
                                {{ habit["name"] }}
                            </section>
                            <section class="habit_icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.497 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.49 4.49 0 013.497-1.307zm7.007 6.387a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                </svg>  
                            </section>
                                 
                            {% else %}
                            <div>
                                <form method="POST" action="{{url_for('habits.complete')}}">
                                    <input type="hidden" name="date" value="{{selected_date}}"/>
                                    <input type="hidden" name="Habitid" value="{{habit['_id']}}" />
                                    <button type="submit" class="habit__button">{{habit['name']}}</button>
                                </form>
                            </div>
                            {% endif %}
                        </section>
                        
                {% endfor %}
            
            </ul>
        </section>
    </section>
    {%endblock%}
</body>
</html>